

.tel-box{
    display: flex;

}
.select-box{
    margin-top: 1rem;
    width: 60px;
    height: 40px;
    color: black;
}
.flag-img{
    width: 60px;
    height: 40px;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
}
.select-box select{

    width: 60px;
    height: 40px;
    background: none;
    position: absolute;
    border: none;
    font-size: 1rem;
    padding-left: 4rem;
    outline: none;
    -webkit-appearance: none;
}
.tel{
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid black;
    outline: none;
    margin: 1rem;
    font-size: 1rem;
    padding-left: 1.5rem;
    color: black;
    font-weight: thick;
    border-radius: 5px;

}
.slider-img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:770px){
    .slider{
        height: 340px !important;
    }
}